*.pyc
/venv
start Ophelia.bat
Backend/.venv/
Backend/Ophelia/__pycache__
Backend/Ophelia/plugins
Backend/Ophelia/.env
*.pyc
Backend/Ophelia/TestSocketClient.py
/UI/.expo
/UI/node_modules
/Ophelia/__pycache__
/Backend/venv
